# Created by .ignore support plugin (hsz.mobi)
*.iml
.idea/*
resources/config.cfg
test/test.sql
test/dbconfig.xml.sample.output
src/lastjirabackup.tmp
src/lastupdtjirabackup.tmp
src/lastconfbackup.tmp
src/lastupdtconfbackup.tmp
test/testdmp.txt
test/server.xml