# Created by .ignore support plugin (hsz.mobi)
*.iml
.idea/*
resources/config.cfg
test/test.sql
test/dbconfig.xml.sample.output
src/lastbackup.tmp
src/lastupdtbackup.tmp
test/testdmp.txt
test/server.xml